body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: blue; */
  /* background-image: url(./badminton_bw.jpg); */
  background: url(./badminton-wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  color: #cce0ff;
  margin-left: calc(100vw - 100%);

}

html {
  --scrollbarBG: #36404e;
  --thumbBG: #cce0ff;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  width: 11px;
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: var(--thumbBG) ;
  border-radius: 15px;

  box-shadow: 0 0 10px var(--thumbBG) , 0 0 50px var(--thumbBG), 0 0 90px var(--thumbBG);
}

#map {
        height: 100%;
      }

@media screen and (min-width: 960px) {
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}
